/* purgecss start ignore */
@tailwind base;
@tailwind components;
@tailwind utilities;
/* purgecss end ignore */

  .selected-card {
    border: 5px solid #007bff;
    border-radius: 10px;
  }


  #hero::before{
    content: "";
    background: rgba(0, 0, 0, 0.4);
    position: absolute;
    bottom: -3.5rem;
    top: 0;
    left: 0;
    right: 0;
}


@layer base {
    h1 {
      @apply text-5xl md:text-3xl;
    }
    h2 {
      @apply text-4xl md:text-2xl;
    }
    h3 {
      @apply text-3xl md:text-xl;
    }
    h4 {
      @apply text-2xl md:text-lg ;
    }
    h5 {
      @apply text-xl;
    }
    h6 {
      @apply text-base;
    }
  }
  
  #main img {
    height: 75%;
    width: 75%;
    margin:auto;
  }
  #main a {
    font-weight: 800;
  }


@layer base {
    h1 {
      @apply text-5xl md:text-3xl;
    }
    h2 {
      @apply text-4xl md:text-2xl;
    }
    h3 {
      @apply text-3xl md:text-xl;
    }
    h4 {
      @apply text-2xl md:text-lg ;
    }
    h5 {
      @apply text-xl;
    }
    h6 {
      @apply text-base;
    }
  }
  
  #main img {
    height: 75%;
    width: 75%;
    margin:auto;
  }
  #main a {
    font-weight: 800;
  }

  p.mt-2.text-gray-600 {
    margin-top: 1rem;
  }